data/
config.json
.idea/
.DS_Store
*.torrent
!testdata/*.torrent
*.magnet
!testdata/*.magnet
*.db
*.log
*.log.*
dist/
tmp/**
torrents.json
logs/**
auth.json
.ven/
.env
node_modules/
.venv/
.stignore
.stfolder/**test-config/config.json
test-data/

# Fork build artifact
decypharr_fork

# pprof artifacts
*.prof
